.container {
  width: 420px;
  height: 380px;
  padding-right: 0px;
  padding-left: 0px;
}

.card {
  border-radius: 0px;
  --bs-card-border-color: rgba(0, 0, 0, 0);
}
.center {
  text-align: center;
}

.details {
  width: 70%;
}

.label {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.525);
}

.gpa {
    font-weight: 600;
    color: #BB86FC;
}

.red{
  color: #CF6679;
}
